<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body class="container">
<header>
    <% include ./header %>
</header>

<main>
    <div>
    	<div>
			<% include ./sidebar %>
		</div>
        <div class="jumbotron" style="margin-left: 250px;">

        	<h1>Welcome Super Admin: <%= name %></h1>
        	<p>This is a secret club, so keep this to yourself.</p>
    	</div>
    </div>
</main>

<footer>
	<% include ./footer %>
</footer>
</body>

