<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body class="container">

<header>
    <% include ./header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Search results for <%= name %></h1>
	    <div>
	    	
	    </div>
	</div>

</main>

<footer>
    <% include ./footer %>
</footer>

</body>
</html>